scene_objects_Qwen2.5-VL-7B-Instruct
scannetppv2
# PGSR
# samsam_masks_*
assets
agent_output
*.ply
DptV3
Dataset--spatialverse-InteriorGS
output_*
sam_masks_*
sam_masks
sam_vis_debug_new
scene_canonical_objects_Qwen3-VL-30B-A3B-Instruct
scene_objects_Qwen3-VL-30B-A3B-Instruct
*.png
output
ckpt_scannetppv2
sam_masks/*
sam3/train/*
class_dl3dv
class_dl3dv_agent
class_dl3dv_agent_vis
mask_dl3dv
sam_dl3dv
scene_objects_dl3dv/0a6c01ac3212768772f8f6eca86314c72d5ca320c3e3def148ddaceab23c07f4.json
scannetpptv2_wai

train_pgsr_progress_dl3dv.json
.gitignore
train_pgsr_progress.json
eval_vlm
scene_objects_Qwen3-VL-30B-A3B-Thinking/0e900bcc5c.json
# train_pgsr_progress.json
#qa_generation

preds_1704.jsonl
train_pgsr_progress.json
2d_bounding_reproject
flash*
train_vlm
2d_reproject.py
3d_2d
3d_2d.py
train_pgsr_progress.json
# .vscode/launch.json
scannetppv2_wai
scannetppv2_wai
PGSR/*/__pycache__/*
sam3/__pycache__/*
test_results
models
system_prompts
logging/*
sam3/agent/__pycache__/*
3d_bounding_scannet.json
train_pgsr_progress_dl3dv.json.lock
train_pgsr_progress_dl3dv.json
train_pgsr_progress.json.lock
train_pgsr_progress.json
__pycache__/api.cpython-312.pyc
rerun_output
DL3DV_packed/*
scannet_sample_gt.zip
.gitignore
DL3DV_slim
scannetppv2_jsononly
qa_generation/__pycache__/*
scannet_sample_gt
scene_objects_Qwen3-VL-30B-A3B-Instruct-DL3DV
scannet_json_real.tar.gz
train_pgsr_progress_dl3dv_2k.json
train_pgsr_progress_dl3dv_2k.json.lock
3d_bounding_scannet_dl3dv.json
run_2d_iou_batch.log
.gitignore
run_2d_iou_batch.sh
.gitignore
run_2d_iou_remaining.sh
.gitignore
run_2d_iou_sa2va_batch.sh
.gitignore
run_2d_iou_remaining.log
run_2d_iou_sam3_batch.sh
2d_iou_outputs_gyn/*
upload.sh
mask_index_outputs.zip
2d_iou_outputs_gyn_cmp_sam3/*
rerun_output_dl3dv
924.zip
.gitignore
2d_iou_outputs_baseline/*
2d_iou_outputs_gyn_seperate_instance/*
2d_iou_outputs_baseline/

2d_iou_outputs_gyn_seperate_instance_scene_label/
2d_iou_outputs_gyn_seperate_instance_scene_label_sam/
2d_iou_sam3_outputs/
*.pyc
2d_iou_sa2va_outputs/
2d_iou_dl3dv/
2d_iou_dl3dv_sam3/
2d_iou_scannet/
Dl3dv_filter_desc/
scannet_eval_json/
sam3_masks_scannetppv2_new/
Qwen3VL-32B-Scannetppv2/
2d_iou_sa2va_outputs_sa2va/

.gitignore
bbox_overlay_scannet_batch_outputs_aabb/
2d_iou_scannet_sam3/
bbox_overlay_test_outputs_aabb_gyy/
new_json_scannet/
pgsr_result_scannetv2/
qa_generation/
Qwen3VL-32B-Scannetv2/
sam3_masks_DL3DV/
website/
sam3_masks_scannetv2/
sam3_masks_scannetppv2_region/
scene_objects_Qwen3-VL-30B-A3B-Instruct-scannetppv2/

rerun_output_demo_ours_scannet_new/
visualiation/
Qwen3VL-32B-Scannetppv2_region/
*.mp4
scannet
2d_iou_sa2va_outputs_scannet/
2d_iou_scannet_sam3_1/
3d_bounding_scannet_evalation_ours/
3d_label_gt_scannet/
label_gt
logs
mask_index_outputs
mask_index_outputs copy/
pgsr_train_scripts/
mask_index_outputs_scannet/
Qwen3VL-32B-DL3DV/
rerun_output_demo_ours_scannet/
3d_label_gt_dl3dv/
3d_bounding_scannet_evalation_ours.zip
*.json
rerun_output_demo/
hair
Dl3dv_filter
gyn_test_images
processed_dl3dv_ours
temp/DSC01752_overlay.jpg
rerun_output_two_view/00a231a370.rrd
dl3dv_wai
5000000
pie_mask.html
qa_question_type_pie.html
rerun_sdk-0.24.1-cp39-abi3-manylinux_2_28_x86_64.whl
.gitignore
scannetppv2_extra
scannnetppv2_extra_0117
scannnetppv2_0117
scannetv2
pgsr_scannetppv2_all
pgsr_DL3DV_all
mask_index_outputs_dl3dv_1.zip
merged
train_pgsr_progress_scans_test.json.lock
poetry.toml
scannet_pgsr_eval
truck.jpg
