scene_objects_Qwen2.5-VL-7B-Instruct
scannetppv2
PGSR
# samsam_masks_*
assets
agent_output
*.ply
DptV3
Dataset--spatialverse-InteriorGS
output_*
sam_masks_*
sam_masks
sam_vis_debug_new
scene_canonical_objects_Qwen3-VL-30B-A3B-Instruct
scene_objects_Qwen3-VL-30B-A3B-Instruct
*.png
output
ckpt_scannetppv2
sam_masks/*
sam3/train/*
class_dl3dv
class_dl3dv_agent
class_dl3dv_agent_vis
mask_dl3dv
sam_dl3dv
scene_objects_dl3dv/0a6c01ac3212768772f8f6eca86314c72d5ca320c3e3def148ddaceab23c07f4.json
